@model IList<RegionViewModel>
@using Kingdom.Core.Interfaces.Entities
@using Kingdom.Web.Models.Region
@using Kingdom.Web.Models.Tile
@using Kingdom.Common.Constants
@{
    ViewBag.Title = "Index";
    ViewBag.Layout = "_Layout.cshtml";
}

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
<script src="/content/scripts/game.world.js"></script>

<link href="/content/less/tiles/tiles.less" rel="stylesheet" type="text/css" />

<style>
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
    body, html { padding: 0px; margin: 0px; overflow: hidden; }
    .tile { width: @(TileConstants.TileWidth)px; height: @(TileConstants.TileHeight * 0.65)px; float: left; }
    .forest {  }
    .gold { background: gold; }
    .desert { background: yellow; }
    .water { background: blue; }
    .stone { background: grey; }
    .grass { background: green; }

    .tile {}



    .menu { position: absolute; top: 0px; right: 0px; width: 100px; border-left: 1px solid #111111; }

</style>


<div class="drag game-world zoom-@ViewBag.ZoomLevel">

    @{Html.RenderPartial("regions", Model);}

</div>

<div style="background: #ffffff; border: 1px solid #666666; position: absolute; top: 0px; left: 0px; width: 150px; height: 40px; z-index: 99999; line-height: 40px; padding: 0px 10px 0px 10px;" class="updatetl"></div>
<div style="background: #ffffff; border: 1px solid #666666; position: absolute; top: 0px; right: 0px; width: 150px; height: 40px; z-index: 99999; line-height: 40px; padding: 0px 10px 0px 10px;" class="updatetr"></div>
<div style="background: #ffffff; border: 1px solid #666666; position: absolute; bottom: 0px; left: 0px; width: 150px; height: 40px; z-index: 99999; line-height: 40px; padding: 0px 10px 0px 10px;" class="updatebl"></div>
<div style="background: #ffffff; border: 1px solid #666666; position: absolute; bottom: 0px; right: 0px; width: 150px; height: 40px; z-index: 99999; line-height: 40px; padding: 0px 10px 0px 10px;" class="updatebr"></div>
<div style="background: #ffffff; border: 1px solid #666666; position: absolute; bottom: 0px; right: 45%; width: 400px; height: 40px; z-index: 99999; line-height: 40px; padding: 0px 10px 0px 10px;" class="update-click"></div>


<script>

    $('.game-world').gameWorld({

        zoomLevel: @ViewBag.ZoomLevel,
        tileWidth: @(TileConstants.TileWidth),
        tileHeight: @(TileConstants.TileHeight),
    });

</script>
